<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mss.livesmart"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/live_smart_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mss.livesmart.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mss.livesmart.HealthCenterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity 
            android:name="com.mss.livesmart.MessageCenterActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mss.livesmart.InputHealthDataActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mss.livesmart.PersonalInfoActivity"
            android:label="@string/title_personal_info" >
        </activity>
        <activity
            android:name="com.mss.livesmart.data.AddUpdateRecActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mss.livesmart.data.RecommendationActivity"
            android:label="@string/title_activity_recommendation" >
        </activity>
        
    </application>

</manifest>
