<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mss.livesmart"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/live_smart_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mss.livesmart.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mss.livesmart.HealthHistoryActivity"
            android:label="@string/app_name" >
        </activity>
       
        <activity 
            android:name="com.mss.livesmart.MessageCenterActivity"
            android:label="@string/app_name" >
        </activity>
         <activity
            android:name="com.mss.livesmart.RecommendationDetailActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mss.livesmart.InputHealthDataActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mss.livesmart.PersonalInfoActivity"
            android:label="@string/title_personal_info" >
        </activity>
        <activity
            android:name="com.mss.livesmart.tempwork.AddUpdateRecActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.mss.livesmart.data.ActivitiesActivity"
            android:label="@string/title_activity_recommendation" >
        </activity>
        
        <service android:name="com.mss.livesmart.notification.PopupService" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>
    </application>

</manifest>
